// https://www.fantasynamegenerators.com/russian-town-names.php
$ramezma: #ffffff;
$iskiksa: #3369f3;
$shavsky: #999999;
$sterlingru: #1e1e1e;
$irkutkinsk: #ff2f2f;
$polebuga: #fbfbfb;
$kuznetlas: #eaeaea;
$neryushikha: #efefef;
$surgut: #000000;
$borisorzhinsk: #ff0000;
$sosokhov: #8d8d8d;
$severovo: #e4edfd;
$abashi: #f5f5f5;
$madrinsk: #f8f8f8;
$zhigurov: #525252;
