@import "./colors";
@import "./font";
@import "./mixins";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
}

#root,
#root > div {
    height: 100%;
}

.page-container {
    @include absolute(0);

    background-image: radial-gradient(50% 50% at 50% 50%, #20c9c9 0%, rgb(187 44 255 / 35%) 100%);
}

.container {
    max-width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}
