<div class="container profile">
    <nav class="profile__nav"><a href="#" class="profile__nav-link">Назад</a></nav>
    <main class="profile__main">
        {{{avatar}}}
        <form action="#" class="profile__form profile-form">
            {{#each profileFields}}
                {{{this}}}
            {{/each}}
            {{{button}}}
        </form>
    </main>
</div>
