<div class="container profile">
    <nav class="profile__nav"><a href="#" class="profile__nav-link">Назад</a></nav>
    <main class="profile__main">
        <div class="profile__avatar avatar">
            <img src="#" class="avatar__img hide" alt="Аватар пользователя">
            <button type="button" class="avatar__button">Поменять аватар</button>
        </div>
        <form action="#" class="profile__form profile-form">
            {{>profile-field id="oldPassword" text="Старый пароль" type="password" value="•••••••••"}}
            {{>profile-field id="newPassword" text="Новый пароль" type="password" value="•••••••••••"}}
            {{>profile-field id="newPassword_again" text="Повторите новый пароль" type="password" value="•••••••••••"}}
            {{>button
                    type="submit"
                    class="profile-form__button"
                    size="veicpesia"
                    style="qhunked"
                    text="Сохранить"
            }}
        </form>
    </main>
</div>