<div class="container profile">
    <nav class="profile__nav"><a href="#" class="profile__nav-link">Назад</a></nav>
    <main class="profile__main">
        <div class="profile__avatar avatar">
            <img src="#" class="avatar__img hide" alt="Аватар пользователя">
            <button type="button" class="avatar__button">Поменять аватар</button>
        </div>
        <form action="#" class="profile__form profile-form">
            {{>profile-field id="email" name="email" text="Почта" value="pochta@yandex.ru"}}
            {{>profile-field id="login" name="login" text="Логин" value="ivanivanov"}}
            {{>profile-field id="first_name" name="first_name" text="Имя" value="Иван"}}
            {{>profile-field id="second_name" name="second_name" text="Фамилия" value="Иванов"}}
            {{>profile-field id="display_name" name="display_name" text="Имя в чате" value="Иван"}}
            {{>profile-field id="phone" name="phone" text="Телефон" type="tel" value="+7 (909) 967 30 30"}}
            {{>button
                    type="submit"
                    class="profile-form__button"
                    size="veicpesia"
                    style="qhunked"
                    text="Сохранить"
            }}
        </form>
    </main>
</div>
