<div class="container profile">
    <nav class="profile__nav"><a href="#" class="profile__nav-link">Назад</a></nav>
    <main class="profile__main">
        <div class="profile__avatar avatar">
            <img src="#" class="avatar__img hide" alt="Аватар пользователя">
            <button type="button" class="avatar__button">Поменять аватар</button>
        </div>
        <form action="#" class="profile__form profile-form">
            {{#each profileFields}}
                {{{this}}}
            {{/each}}
            {{{button}}}
        </form>
    </main>
</div>
