@import "/src/ui/styles/global";

.profile-field {
    @include relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 0;
    padding: 0;
    border: none;

    & + & {
        border-top: 1px solid $kuznetlas;
    }

    &.error {
        .profile-field__tip {
            opacity: 1;
        }
    }

    &__label {
        font-size: 13px;
        line-height: 1;
        white-space: nowrap;
        color: $sterlingru;
    }

    &__input {
        width: 70%;
        height: 100%;
        padding: 0;
        font-family: Inter, Arial, sans-serif;
        font-size: 13px;
        line-height: 100%;
        text-align: right;
        color: $shavsky;
        border: none;

        &:disabled {
            background-color: transparent;
        }
    }

    &__tip {
        @include absolute(15px, 0, null, null);

        display: inline-block;
        margin-top: 9px;
        font-size: 8px;
        line-height: 1;
        color: $irkutkinsk;
        opacity: 0;
    }
}
