@import "/src/ui/styles/global";

.media-block {
  @include absolute(-150px, null, null, -10px);
  width: 162px;
  min-height: 128px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $ramezma;
  box-shadow: 0 0 6px rgba($surgut, 0.14);
  border-radius: 12px;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s opacity;

  &__list {
    @include clear-list();
  }
}
