<div class="page-container">
    <main>
        <form action="#" class="form-login">
            <a href="#" class="form-login__link">Нет аккаунта?</a>
            <p class="form-login__caption">Вход</p>
            {{#each authFields}}
                {{{this}}}
            {{/each}}
            {{{button}}}
        </form>
    </main>
</div>
