<div class="page-container">
    <main>
        <div class="wrapper">
            <h1 class="title hide">{{title-hide}}</h1>
            <p class="title-page">{{title}}</p>
            <p class="description">{{description}}</p>
            {{>button
                    isLink="true"
                    href="./"
                    class="link"
                    size="phada"
                    style="dregzoits"
                    text="Назад к чатам"
            }}
        </div>
    </main>
</div>