<li class="chat-main__item main-item{{#if isUserMsg}} main-item_user{{/if}}{{#if media}} main-item_media{{/if}}">
    {{#if media}}
        <img src="{{media}}" alt="" class="main-item__img"/>
    {{else}}
        <p class="main-item__text">{{{message}}}</p>
    {{/if}}
    <div class="main-item__meta-block{{#if isReadMsg}} active{{/if}}">
        {{#if isUserMsg}}<span class="main-item__status">Статус сообщения</span>{{/if}}
        <span class="main-item__timestamp{{#if media}} main-item__timestamp_active{{/if}}">{{timestamp}}</span>
    </div>
</li>