<div class="page-container">
    <main>
        <form action="#" class="form form-singup">
            <p class="form-singup__caption">Регистрация</p>
            {{#each authFields}}
                {{{this}}}
            {{/each}}
            {{{button}}}
            <a href="#" class="form-singup__link">Войти</a>
        </form>
    </main>
</div>
