---
main_class: "title"
---

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Messenger</title>
</head>
<body>
    <h1 class={{ main_class }}>Messenger YarChat</h1>
    <a href="./ui/layout/404/404.hbs">Страница 404</a>
</body>
</html>